<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
  $(document).ready(function () {
    {% comment %} $('#table_id').DataTable(); {% endcomment %}

    $('#table_id').DataTable(
    {
      {% comment %} paging: false, {% endcomment %}
      {% comment %} scrollY: 400,
      searching: false,
      ordering:  false {% endcomment %}
    });
    
    {% comment %} $("tr:odd").css("background-color", "yellow"); {% endcomment %}
  });
  
</script>

<style>
  {% comment %} table.dataTable tbody tr.odd { background-color:#F2F2F2; }

  table.dataTable tbody tr.even  { background-color:white; } {% endcomment %}
</style>

{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% comment %} <h2>Welcome to Market Stock</h2> {% endcomment %}
{% block content %}

<div class="container-fluid "> {# w-100#}
<form method="POST">
  {% csrf_token %}
  <table class="table table-striped mt-5">
   <thead>
      <tr>
        <th>Employee Surveyed</th>
        <th>Employee Not Surveyed</th>
        <th>SERACH</th>
      </tr>
    </thead> 
    <tbody>
      <tr>
        <td> 
          <div class="form-check">
            <input type="radio" class="form-check-input bg-success" id="radioSurveyed" name="surveyStatus" value="Surveyed" checked>Employee Surveyed
            <label class="form-check-label" for="radio1"></label>
          </div>
       </td>
        <td>  
          <div class="form-check">
            <input type="radio" class="form-check-input bg-danger" id="radioNotSurveyed" name="surveyStatus" value="NotSurveyed">Employee Not Surveyed
            <label class="form-check-label" for="radio2"></label>
          </div>
         </td>
        <td>
          <input type="submit" value="serach">
        </td>
      </tr>
    </tbody>
  </table> 
</form>

<div class="table-responsive">
    <table id="table_id" class="table table-striped" >
      <thead class="bg-success text-white">
        <tr>
          <th>Emp Number</th>
          <th>Name <span class="arrow-icon"> </span> </th>
          <th>Department</th>
          <th>Section </th>
          <th>Status</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for survey in surveyApi.empSurveys %}
          <tr>
            <td>{{ survey.empNo }}</td>
            <td>{{ survey.name }}</td>
            <td id="tdDept">{{ survey.department }}</td>
            <td>{{ survey.section }}</td>
            <td>
              {% if survey.status == "Satisfied" %}
                <img src="{% static 'images/Satisfied.png' %}" style="width:30px;" />
               {% elif survey.status == "NotSatisfied" %}
                  <img src="{% static 'images/NotSatisfied.png' %}" style="width:30px;" />
               {% elif survey.status == "VerySatisfied" %}
                  <img src="{% static 'images/VerySatisfied.png' %}" style="width:30px;" />
               {% else  %}
                  {{ survey.status }}
              {% endif %}
            </td>
            {% comment %} <td><a href="{% url 'surveydetail' survey.empNo %}">Detail </a> </td> {% endcomment %}
            <td> <a  href="{% url 'surveydetail' survey.empNo survey.surveyRefenceNo %}">
              {% comment %} <img src="{% static 'images/detail.png' %}" style="width:30px;" /> {% endcomment %}
              <i class="fa fa-info-circle" style="font-size:36px;color:brown" title="Check more details"></i></td>
            </a> 
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</div>
{% endblock %}
