<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>

<script>
  $(document).ready(function () {
    $('#table_id').DataTable()
    $('#table_id2').DataTable()
  })
</script>

{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% comment %} <h2>Welcome to Market Stock</h2> {% endcomment %}
<div class="container-fluid">
  <div class="row col-12">
    <table id="table_id2">
      <thead class="bg-danger">
        <tr>
          <th>Employee Number</th>
          <th>Name</th>
          {% comment %} <th>Department</th> {% endcomment %}
          <th>Section</th>
          <th>Status</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {% for survey in surveyApi.empSurveys %}
          <tr>
            <td>{{ survey.empNo }}</td>
            <td>{{ survey.name }}</td>
            {% comment %} <td>{{ survey.department }}</td> {% endcomment %}
            <td>{{ survey.section }}</td>
            <td>{{survey.status}}</td>
            <td>
              {% if survey.status == "Satisfied" %}
                <img src="{% static 'images/Satisfied.png' %}" class="image" style="width:20px; margin-bottom:-50px; "> </td> 
              
              {% elif survey.status == "Not Satisfied" %}
                <img src="{% static 'images/NotSatisfied.png' %}" class="image" style="width:20px; margin-bottom:-50px; "> </td>

              {% elif survey.status == "Very Satisfied" %}
                <img src="{% static 'images/VerySatisfied.png' %}" class="image" style="width:20px; margin-bottom:-50px; "> </td>

              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr /> <br />
  <div class="row col-12"></div>
  {% block content %}

  {% endblock %}
</div>
